/* COLORS */
$primary-color: #082032;
$button-color: #FA7D09;
$text-color: #DFF6FF;


/* FONTS */
$primary-font: 'Ubuntu', sans-serif; /* light(300), regular(400), bold(700)*/
$light-width: 300;
$regular-width: 400;
$bold-width: 700;
$p-size: 18px;
$h2-size: 32px;
$h3-size: 30px;
$a-size: 18px;
$btn-size: 18px
